.detail-product {
    display: flex;
    padding-top: 40px;
    gap: 30px;


    .img-detail {
        width: 50%;
        // box-shadow: rgba(100, 100, 111, 0.4) 0px 0px 29px 0px;
    }

    .content-detail {
        width: 50%;
        // background-color: rgb(220, 220, 220);
    }
}

.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 45%; // you can modify this value to center the text
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .detail-product {
        display: grid;
        padding-top: 40px;
        gap: 30px;
        // overflow: scroll !important;

        .img-detail {
            width: 100%;
        }

        .content-detail {
            // position: absolute;
            margin-top: 0;
            width: 100%;
            // background-color: rgb(220, 220, 220);
        }
    }
}