.listProduct-content {
    padding-top: 60px;
    gap: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    .card-product {
        border: 0.5px solid rgb(217, 217, 217);
        width: 300px;
        // border: 1px solid rgb(238, 238, 238);
        border-radius: 5px;
        // box-shadow: rgba(200, 200, 200, 0.4) 0px 7px 29px 0px;
        height: 250px;
        // background-color: red;
        transition: all 0.2s ease;

        .text-infor {
            .product-description {
                cursor: pointer;

                .description-full {
                    display: none;
                    // font-size: 10px;
                }

                .description-mini {
                    display: block;
                }
            }

            .product-description:hover {
                cursor: pointer;

                .description-full {
                    display: block;
                    font-size: 12px;
                }

                .description-mini {
                    display: none;
                }
            }

            height: 60px;
        }

        .readmore:hover {
            // scale: 2;
            color: #6fa7ec;
        }


        .text-price {
            color: rgb(255, 139, 139);
            padding-top: 10px;
        }


        .card-body {
            text-align: left;
            font-weight: 600;
        }

        .card-body {
            text-align: left;
            font-weight: 600;
        }


        .card-img-top {
            width: 100%;
            display: flex;
            justify-content: center;
            height: width;
            position: relative;
            cursor: pointer;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                border-radius: 2px;
                background-color: antiquewhite;
                transition: all ease 0.2s;
            }


        }

        .card-img-top::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    .card-product:hover {
        cursor: pointer;
        border: rgb(255, 170, 170) 0.5px solid;
        scale: 1.05;
    }
}



@media only screen and (max-width: 1400px) {
    .listProduct-content {
        .card-product {
            width: 250px;
        }
    }

}

@media only screen and (max-width: 1200px) {
    .listProduct-content {
        .card-product {
            width: 200px;
        }
    }

}

@media only screen and (max-width: 750px) {
    .listProduct-content {
        gap: 20px;

        .card-product {
            max-width: 240px;
        }
    }

}

@media only screen and (max-width: 490px) {
    .listProduct-content {
        .card-product {
            max-width: 160px;
        }
    }

}