.checkout-container {
    // background-color: red;

    .content-checkout {
        display: flex;
        gap: 15px;
        width: 100%;


        .image-product-checkout {
            position: relative;

            img {
                width: 120px;
                border-radius: 5px;
            }

            .counter-product {
                position: absolute;
                background-color: rgb(255, 122, 122);
                min-width: 20px;
                text-align: center;
                margin-left: -17px;
                margin-top: -5px;
                color: white;
                border-radius: 60%;
                padding: 3px 3px;
                font-size: 12px;
            }

        }

        .content-product-checkout {
            width: 100%;
            position: relative;

            .header-product-checkout {
                display: flex;
                gap: 10px;
                position: relative;

                .infor-product-cart:hover {
                    color: rgb(113, 166, 237);
                    cursor: pointer;
                }

                .icon-close {
                    cursor: pointer;
                    transition: 0.3s all ease;
                    margin-top: 5px;
                    position: absolute;
                    right: 0;
                }

                .icon-close:hover {
                    cursor: pointer;
                    scale: 1.3;
                }
            }

            .footer-product-checkout {
                display: flex;
                justify-content: space-between;
                width: 100%;
                // background-color: red;
                position: absolute;
                bottom: 0;

                .quantity {
                    width: 100px;
                    border: 2px solid rgb(127, 127, 127);
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 10px;
                    align-items: center;
                    border-radius: 10px;
                    font-weight: 600;

                    .minus {
                        cursor: pointer;
                        // background-color: red;
                        width: 20px;
                        display: flex;
                        justify-content: center;
                        margin-top: -3px;
                    }

                    .minus:hover {
                        font-size: 30px;
                        margin-top: -8px;
                    }

                    .plus {
                        cursor: pointer;
                        // background-color: red;
                        width: 20px;
                        display: flex;
                        justify-content: center;
                        margin-top: -3px;
                    }

                    .plus:hover {
                        font-size: 25px;
                        margin-top: -5px;
                    }
                }
            }
        }

    }
}

.checkout-header {
    display: flex;
    gap: 20px;

    .list-cart-product {
        width: 50%;
    }
}

.infro-transport {
    width: 50%;
}


@media only screen and (max-width: 992px) {
    .checkout-header {
        display: grid;
    }

    .infro-transport {
        width: 100%;
        padding-top: 30px;
    }

    .checkout-header {

        .list-cart-product {
            width: 100%;
        }
    }
}