.img-slider {
    max-height: 100vh;
    // height: 100%;
    width: 100%;
    object-fit: cover;
    border: none;
}

.slider-page {
    max-width: 100%;
    padding: 0;
    margin: 0;

    .slider-item {
        width: 100%;
        // height: 70px;
        background-color: rgb(199, 199, 199);
    }

    /* background-color: blue; */
    // width: 100%;
}

button.slick-arrow.slick-next {
    display: none !important;
    background-color: blue;
}