.header-container {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(215, 215, 215, 0.9);
    position: fixed;
    width: 100%;

    button.navbar-toggler.collapsed {
        border: none;
        width: 0;
        color: white !important;
        // display: none;

        &:active {
            border: none;
        }
    }

    button.navbar-toggler {
        border: none;
        color: white !important;

        &:active {
            border: none;
        }
    }

    .navbar-toggler {
        &:active {
            border: none;
        }
    }

    span.navbar-toggler-icon {
        font-size: 17px;
        color: black !important;
        font-weight: 600 !important;
    }

    .cart-header2 {
        height: 1px;
        // background-color: gray;
        width: 86px;
        margin-right: 19px;
    }

    .shadow-cart {
        height: 1px;
        width: 94px;
        // background-color: blue;
    }

    .cart-header {
        display: flex;
        align-items: center;
        gap: 10px;
        // background-color: red;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -16px;
        // margin-top: -16px;
        margin-right: 19px;

        .cart-icon {
            font-size: 25px;
            // margin-top: -6px;
            color: rgb(0, 0, 0);
            transition: all 0.3s ease;
        }



        .user-icon {
            font-size: 29px;
            margin-top: 1px;
            // margin-right: 20px;
            // padding-right: px;
            color: rgb(0, 0, 0);
            transition: all 0.2s ease;
        }


        .user-icon:hover {
            scale: (1.5);
        }

        .cart-counter {
            font-size: 12px;
            background: #ff7c7c;
            color: #fff;
            padding: 1px 5px;
            text-align: center;
            vertical-align: top;
            border-radius: 50%;
            margin-left: -5px;
        }
    }


}

.cart:hover {
    scale: (1.4);

}

.cart {
    float: right;

    transition: all 0.2s ease;
}



.nav-logo-header {
    .logo-header {
        display: flex;
        align-items: center;


        .logo {
            height: 55px;
        }
    }
}

.a.nav-link.mx-2.active {
    color: red !important;
}



.nav-bar-black {
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(215, 215, 215, 0.9);
    z-index: 9000;
    background-color: black;
    position: fixed !important;
    top: 0 !important;
    display: flex;
    align-items: center;
}

.navs-link {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-weight: 600;


    .under-line {
        width: 0;
        margin: 0 auto;

        border-bottom: 3px solid rgb(255, 255, 255);
        border-radius: 5px;
        transition: 0.15s all ease;
    }
}

.navs-link:hover {
    color: black;
    text-decoration: none;

    .under-line {
        width: 100%;
        border-bottom: 3px solid rgb(255, 52, 52);
        border-radius: 5px;
    }
}

.activenav:hover {
    color: rgb(255, 122, 122);
}

.activenav {
    color: rgb(255, 122, 122);
}














.cart-shopping {
    margin-top: 100px;
    // background-color: #ff0000;
    z-index: 9999 !important;
    // position: absolute;
    top: 0;
    padding-top: 15vh;
    margin-top: 0px;
    // background-color: red;
    height: 100vh;
}



.cart-body {
    max-height: 40vh;
    min-height: 90px;
}

.cart-product {
    transition: 0.2s all ease;
    height: 50px;
    display: flex;
    width: 100%;
    gap: 30px;

    .icon-delete-cart {
        font-size: 16px;
        position: absolute;
        right: 20px;
    }

    .icon-delete-cart::after {
        scale: 1.2;
    }

    .img-cart-product {
        height: 100%;
    }

    .detail-product-cart {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        align-items: flex-end;


        .price {
            color: #ff7a7a;
            min-width: 90px;
        }
    }

}

.cart-product:hover {
    border: #ff7a7a;

    .img-cart-product {
        cursor: pointer;
    }

    .detail-product-cart {
        cursor: pointer;
    }
}

.quantity-product {
    color: whitesmoke;
    margin-left: -10px;
    background-color: rgb(255, 124, 124);
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    position: absolute;
}



.nav-router {
    // margin: auto auto;
    // position: absolute;
    // background-color: red;
    width: 100%;
    // text-align: center;
    display: flex;
    justify-content: center;

    .link-router {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

}

@media only screen and (max-width: 991px) {
    .nav-router {
        // background-color: red;
        justify-content: start;
    }

    .header-container {
        .cart-header {
            top: 12px;
            margin-top: 0
        }
    }

    .logo-header {
        // margin-left: 41px;

        height: 40px;
        padding: 10px;
        top: 0;
        // background-color: red;
        // display: flex;
        // align-items: center;

        .logo {
            position: absolute;
            left: 50%;
            height: 40px;
            margin-left: -47px;
        }
    }
}


@media only screen and (max-width: 577px) {
    .under-line {
        display: none;
    }

}

@media only screen and (max-width: 400px) {

    .detail-product-cart {
        font-size: 13px;
        // font-weight: bold;
        width: 100%;
    }
}