.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #a6a5a5;
    border: 1px dashed;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.image-preview {
    height: 100%;
}